@charset "utf-8";
/* Web Font */
@font-face{
    font-family:nsb;
    src:url('../font/NanumSquareB.eot');
    src:url('../font/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('../font/NanumSquareB.woff') format('woff');
}

@font-face {
	font-family:nseb;
	src:url('../font/NanumSquareEB.eot');
	src:url('../font/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
	    url('../font/NanumSquareEB.woff') format('woff');
}

/****************************************************************************
 *	default setting
 ***************************************************************************/
html, body, input, select, textarea {
	font-family:Arial, 돋움, Dotum;
	font-size:12px !important;
	color:#666666;
	line-height:normal !important;
}

body {
	margin:0px;
	padding:0px;
}

div {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {text-decoration:none; cursor:pointer; color:#5684e9; }
a:hover {text-decoration:underline; cursor:pointer; color:#5684e9; }

ol, ul {list-style:none;}

input[type=text], input[type=password] {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
	-webkit-border-radius:0;
	-webkit-appearance:none;

	margin:0px;
	margin-top:2px;
	padding:0px 5px;
	height:24px;
	
	border:1px solid #c6c6c6;
}

textarea {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
	-webkit-border-radius:0;
	-webkit-appearance:none;

	margin:0px;
	padding:5px;
	resize:none;
	
	border:1px solid #c6c6c6;
}

textarea:hover {
	border:1px solid #858585;
}

input[type=text]:hover, input[type=password]:hover {
	border:1px solid #858585;
}

input[readonly], select[readonly], textarea[readonly] {
	background-color:#f5f5f5;
}

p {margin:0px;}

img {
	border:0px;
	padding:0px;
	margin:0px;
}

.contents img, video, audio, object, embed { 
	max-width:100%; 
	height:auto; 
}

select {
	min-width:100px;
	height:24px;
	margin:0px;
	padding-left:5px;
	
	border:1px solid #c6c6c6;
}

select option {
	
}

/****************************************************************************
 *	common class 
 ***************************************************************************/
.link { text-decoration:none; cursor:pointer; color:#5684e9; }
.link:hover { text-decoration:underline; cursor:pointer; color:#5684e9; }
.link.gray { color:#666666; }
.link.gray:hover { color:#666666; }
.link.red { color:#ff1620; }
.link.red:hover { color:#ff1620; }
.link.white { color:#ffffff; }
.link.white:hover { color:#ffffff; }

.cp { cursor:pointer; }
.textLeft { text-align:left; }
.textCenter { text-align:center; }
.textRight { text-align:right; }
.textCut { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.ma0 { margin:0px; }
.mt0 { margin-top:0px; }
.mr0 { margin-right:0px; }
.mb0 { margin-bottom:0px; }
.ma3 { margin:3px; }
.mt3 { margin-top:3px; }
.mr3 { margin-right:3px; }
.mb3 { margin-bottom:3px; }
.ml3 { margin-left:3px; }
.ma5 { margin:5px; }
.mt5 { margin-top:5px; }
.mr5 { margin-right:5px; }
.mb5 { margin-bottom:5px; }
.ml5 { margin-left:5px; }
.ma10 { margin:10px; }
.mt10 { margin-top:10px; }
.mr10 { margin-right:10px; }
.mb10 { margin-bottom:10px; }
.ml10 { margin-left:10px; }

.pa0 { padding:0px; }
.pt0 { padding-top:0px; }
.pr0 { padding-right:0px; }
.pb0 { padding-bottom:0px; }
.pa3 { padding:3px; }
.pt3 { padding-top:3px; }
.pr3 { padding-right:3px; }
.pb3 { padding-bottom:3px; }
.pl3 { padding-left:3px; }
.pa5 { padding:5px; }
.pt5 { padding-top:5px; }
.pr5 { padding-right:5px; }
.pb5 { padding-bottom:5px; }
.pl5 { padding-left:5px; }
.pa10 { padding:10px; }
.pt10 { padding-top:10px; }
.pr10 { padding-right:10px; }
.pb10 { padding-bottom:10px; }
.pl10 { padding-left:10px; }

.bold { font-weight:bold; }
.fl { float:left; }
.fr { float:right; }
.cb { clear:both; }
.vt { vertical-align:text-top; }
.vb { vertical-align:text-bottom; }
.scroll { overflow:auto;}
.star { color:red; font-weight:normal; }

.bda { border:1px solid #dadde6; }
.bdt { border-top:1px solid #dadde6; }
.bdr { border-right:1px solid #dadde6; }
.bdb { border-bottom:1px solid #dadde6; }
.bdl { border-left:1px solid #dadde6; }

.pageNav {
	width:100%;
	text-align:center;
}

.resource {
	max-width:100%; 
	height:auto;	
}

.bar {
	clear:both;
	height:2px;
	background-color:#0083C6; 
	margin:20px;
}

/****************************************************************************
 *	Box
 ***************************************************************************/
.contents > .boxTitle {

	font-family:nsb;
	font-size:14px;
	
	height:38px;
	
	margin:10px 10px 0px 10px;
	padding:10px 10px 10px 20px;
	
	border:1px solid #c6c6c6;
	background-color:#f5f5f5; 
	
	background-image:url("/archive/image/app/iconConTitle.gif");
	background-repeat:no-repeat;
	background-position:center left 10px; 

	text-align:left; 
}

.contents > .box {
	clear:both;

	margin:0px 10px 20px 10px;
	padding:10px;
	
	border:1px solid #c6c6c6;
	border-top:0px;
}

.subContents > .boxTitle {

	font-family:nsb;
	font-size:14px;
	
	height:30px;
	
	margin:0px;
	padding-left:10px;
	
	background-image:url("/archive/image/app/iconSubTitle.gif");
	background-repeat:no-repeat;
	background-position:center left;

	text-align:left; 
}

.subContents > .box {
	clear:both;
	
	margin:0px 0px 10px 0px;
	padding:10px;
 
	border:1px solid #e6e6e6;
	background-color:#ffffee;
}

.box > .bar {
	clear:both;
	
	height:1px; 
	background-color:#c6c6c6;
	margin:20px -10px;

	-webkit-box-shadow:0px 2px 5px #c6c6c6;
	   -moz-box-shadow:0px 2px 5px #c6c6c6;
	        box-shadow:0px 2px 5px #c6c6c6;  
}

/****************************************************************************
 *	common button
 ***************************************************************************/
/* 기본 버튼 */
.button {
	
	margin:2px; 
	
	-webkit-border-radius:0;
	-webkit-appearance:none;
	
	font-family:nsb;
	letter-spacing:1px;
	font-size:14px;	
	
	height:24px;
	
	border:0px;
	background-color:#6d6e71;
	
	cursor:pointer;
	padding:3px 12px;
	
    /* box-shadow:2px 2px 5px 0px #c6c6c6; */
}

/* 붉은색 버튼 */
.button.red {
	background-color:#ff1620;
	border:1px solid #ee2c2a;
	color:#ffffff;
}

.button.red:hover {
	background-color:#e93c3c;
	color:#ffffff;
}

/* 푸른색 버튼 */
.button.blue {
	background-color:#005daa;
	color:#ffffff;
}

.button.blue:hover {
	background-color:#024781;
	color:#ffffff;
}

/* 녹색 버튼 */
.button.green {
	/* background-color:#50c8e8; */
	border:1px solid #2ba502;
	background-color:#2db400;
	color:#ffffff;
}

.button.green:hover {
	/* background-color:#3fa0ba; */
	background-color:#2ba502;
	color:#ffffff;
}

/* 회색 버튼 */
.button.gray {
	background-color:#6d6e71;
	color:#ffffff;
}

.button.gray:hover {
	background-color:#535455;
	color:#ffffff;
}

/* 흰색 버튼 */
.button.white {
	border:1px solid #c6c6c6;
	background-image:url("/archive/image/common/btnBg.png");
	background-size:auto 100%;
	
	/* box-shadow:0px 0px 0px 0px #c6c6c6; */
}

.button.white:hover {
	
}

/* 게시판 페이징 버튼 */
.pageBtn {
	margin:2px; 
	
	-webkit-border-radius:0;
	-webkit-appearance:none;
	
	font-family:nsb;
	letter-spacing:1px;
	font-size:14px;	
	
	height:24px;
	
	cursor:pointer;
	
	padding:3px;
	border:1px solid #c6c6c6;
	background-image:url("/archive/image/common/btnBg.png");
	background-size:auto 100%;
}

/* 햄버거 메뉴 버튼 */
.spinnerMaster input[type=checkbox] { display: none; }

.spinnerMaster * {
	transition: all 0.3s;
	box-sizing: border-box;
}

.spinnerMaster {
	position: relative;
	margin-left:10px;
	margin-top:5px;
	height: 30px;
	width: 30px;
	float: left;
}

.spinnerMaster label {
	cursor: pointer;
	position: absolute;
	z-index: 99;
	height: 100%;
	width: 100%;
	top: 5px;
	left: 0;
}

.spinnerMaster .spinner {
	position: absolute;
	height: 4px;
	width: 100%;
	padding: 0;
	background-color: #ffffff;
}

.spinnerMaster .diagonal.part-1 {
	position: relative;
	float: left;
}

.spinnerMaster .horizontal {
	position: relative;
	float: left;
	margin-top: 4px;
}

.spinnerMaster .diagonal.part-2 {
	position: relative;
	float: left;
	margin-top: 4px;
}

.spinnerMaster input[type=checkbox]:checked ~ .spinnerSpin > .horizontal { opacity: 0; }

.spinnerMaster input[type=checkbox]:checked ~ .spinnerSpin > .diagonal.part-1 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin-top: 8px;
}

.spinnerMaster input[type=checkbox]:checked ~ .spinnerSpin > .diagonal.part-2 {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-top: -12px;
}

/****************************************************************************
 *	Language Flag
 ***************************************************************************/
.languageFlag {
	vertical-align: text-bottom;
	border:1px solid #c6c6c6;
	width:20px;
	height:12px;
	cursor:pointer;
}

.languageFlag:hover, .languageFlag.selected  {
	width:23px;
	height:15px;
}

/****************************************************************************
 *	CKEditor 
 ***************************************************************************/
.ckContainer {
	background-color:#f5f5f5;
	border:1px solid #c6c6c6;
}

.ckPreviewContainer {
	margin-bottom:5px;
	min-height:20px;
	background-color:#f7f7f7;
	border:solid 1px #c6c6c6;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px; 
}

.ckPreviewTitle {
	margin-top:5px;
	padding:5px;
	background-color:#dfdfdf;
	border:solid 1px #c6c6c6;
	border-bottom:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.ckAddImgBtn {
	background-color:#eeeeee;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #c6c6c6;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:12px;
	padding:3px 12px;
	text-decoration:none;
}

/****************************************************************************
 *	plupload 
 ***************************************************************************/
#uploadPreview{
	margin:0px 5px;
}

.pluploadContainer {
	padding:5px;
	border:solid 1px #c6c6c6;
	background-color:#ffffe1;
}

.pluploadImgPreviewContainer {
	min-height:20px;
	background-color:#f7f7f7;
	border:solid 1px #c6c6c6;
	margin-bottom:5px;
}

.pluploadImgPreviewTitle {
	padding:5px;
	background-color:#dfdfdf;
	border-bottom:solid 1px #c6c6c6;
}

.pluploadFilePreviewContainer {
	min-height:20px;
	background-color:#f7f7f7;
	border:solid 1px #c6c6c6;
	margin-bottom:5px;
}

.pluploadFilePreviewTitle {
	padding:5px;
	background-color:#dfdfdf;
	border-bottom:solid 1px #c6c6c6;
}


/****************************************************************************
 *	preview 
 ***************************************************************************/
.previewImg{
	cursor:pointer;
}

.previewImgContainer {
	float:left;
	width:94px;
	min-height:20px;
	margin:5px;
	margin-right:0px;
	border:1px solid #c6c6c6;
	background-color:#e8e8e8;
}

.previewImg {
	float:left;
	margin:3px;
	width:70px;
	border:1px solid #c6c6c6;
	cursor:pointer;
}

.previewImgDelBtn {
	float:right;
	margin:3px 3px 3px 0px;
	cursor:pointer;
}

.previewFileContainer {
	float:left;
	margin:2px 5px 2px 5px;
	border:1px solid #c6c6c6;
	background-color:#ffffff;
}

.previewFile {
	float:left;
	margin:3px;
}

.previewFileDelBtn {
	float:right;
	margin:3px 3px 3px 0px;
	cursor:pointer;
}

/****************************************************************************
*	MagnificPoup Style
***************************************************************************/
.popLayerContainer {
	position: relative;
	background: #FFF;
	padding: 20px;
	width:auto;
	max-width: 675px;
	margin: 20px auto;
}

.popLayerContainer > .boxTitle {
	font-family: nsb;
	font-size: 14px;

	height: 38px;

	margin:10px 10px 0px 10px;
	padding: 10px 10px 10px 20px;

	border: 1px solid #c6c6c6;
	background-color: #f5f5f5; 

	background-image: url("/archive/image/app/iconConTitle.gif");
	background-repeat: no-repeat;
	background-position: center left 10px; 

	text-align: left; 
}

.popLayerContainer > .box {
	clear: both;

	margin:0px 10px 20px 10px;
	padding: 10px;

	border: 1px solid #c6c6c6;
	border-top: 0px;
}

.btnPopLayerClose{
	margin-right: -5px;
	margin-top: -5px;
	color:black;
	
	cursor: pointer;
}


/****************************************************************************
 *	MappingContainer
 ***************************************************************************/
.mappingListContainer {
	background-color:#ffffe1;
	padding:5px;
	border:1px solid #c6c6c6;
}

/****************************************************************************
 * fSelect 관련 css
 ***************************************************************************/
.fs-wrap {
	width: 150px !important;
}

.fs-label-wrap,
.fs-dropdown {
    width: 150px;
}

.fs-dropdown {
    margin-top: 5px;
}

.fs-search input {
	padding: 4px;
	margin: 4px 0;
	border: 1px solid #ddd !important;
}

.fs-btn input {
	background-color: #eee;
    border: none !important;
    box-shadow: none !important;
    outline: none;
    padding: 4px 0;
    width: 48%;
    cursor: pointer;
}

.fs-btn input:hover {
	background-color: #ddd;
}

.fs-btn input#allCheckBtn {
	float: left;
}

.fs-btn input#allUnCheckBtn {
	float: right;
}

.fs-btn {
	border-bottom: 1px solid #eee;
    cursor: default;
	overflow: hidden;
    padding: 2px 4px;
}

/****************************************************************************
 *  hiddenText 관련 css
 ***************************************************************************/
.hiddenText {
	visibility: hidden;
}
.hiddenTextMask{
	background-image: url("/archive/image/common/icon/censored.png");
	background-position: 5px;
    background-size: 100% 25px;
    background-repeat: no-repeat;
}

/****************************************************************************
 *	FileUpload Style
 ***************************************************************************/
 
 .fileProgress{
 	color:#6e6e6e;
/*  	color:#fefefe; */
 }
 
 .fileIcon{
 	width:16px;
 	height:16px;
 }
 
 .filenameDisplay{
 }
 
/****************************************************************************
 * 이미지 슬라이더
 ***************************************************************************/
.swiper-container {
    width: 50%;
	height:360px;
	/*border:5px solid silver;*/
	border-radius:7px;
	box-shadow:0 0 20px #ccc inset;
}
.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
    width: 100%;
    height: 100%;
}
/*.swiper-container {
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
.swiper-slide {
	background-size: cover;
	background-position: center;
}
.gallery-top {
	height: 85%;
	width: 100%;
}
.gallery-thumbs {
	height: 15%;
	box-sizing: border-box;
	padding: 5px 0;
}
.gallery-thumbs .swiper-slide {
	width: 10%;
	height: 100%;
	opacity: 0.3;
}
.gallery-thumbs .swiper-slide-active {
	opacity: 1;
}*/
