@charset "uft-8";

/*
All device
*/
body{
    background-image:url("../image/body_bg_05.png");
}

#wrapper{
    min-width:320px;
    max-width:100%;
    margin:0px auto;
    padding: 0px;
    max-width: 80%;
}

#topWrapper{
    clear:both;
	padding:0px;
	margin:0px auto;
	min-height:100px;
}

#contents{
    clear:both;
	padding:0px;
	margin:0px;
	min-height:100px;
}

#slider_section{
    margin:10px 0 10px 0;
}

#introduce_section{
    clear:both;
	padding:0px;
	min-height:100px;
    text-align:center;
}

#video_section{
    clear:both;
	padding:0px;
    margin:10px 0 10px 0;
	min-height:100px;
    text-align:center;
}

#footer{
    font-size : 20px;
    margin-bottom: 15px;
}

#copyright{
    /*background-color:#dddddd*/;
    text-align: center;
    color:white;
}

h1{
    color:white;
    font-style:italic;
}

p{
    color:white;
}

/* 
Mobile device 
*/
@media (max-width:768px){
    #topWrapper{
        min-height:48px;
    }
    
    #topMenuBox_1{
        /*background-color:#000000;*/
        height:40px;
    }
    
    #logo{
        float:left;
        width:200px;
        height:70px;
        cursor:pointer;
    }
    
    #logo > img {
        height:30px;
        margin-top:10px;
        margin-left:0px;
    }
    
    #topMenuBtnBox{
        display:none;
    }
    
    #mobileMenuBtnBox{
        display:none;
        position: fixed;
	    width: 150px;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
	    top: 64px;
	    left: 450px;
	    z-index: 99;
    }
    
    .topMenuBtn{
        display:block;
        float:left;
        font-family:nseb;
        font-size:20px;
        color:#FFFFFF;
        min-width:150px;
        margin:0px;
        margin-left:3px;
        padding:25px 10px 13px 10px;
        cursor:pointer;
        text-align:center;
    }
    
    .topMenuBtn:hover{
        color:#FF0000;
        border-bottom:3px solid #FF0000;
    }
    
    .topMenuBtn.seleted{
        color:#FF0000;
        border-bottom:3px solid #FF0000;
    }
    
    .spinnerMaster {
        display:block;
        float:right;
    }
    
    .swiper-container {
        max-width: 80%;
        height:240px;
        /*border:5px solid silver;*/
        border-radius:7px;
        box-shadow:0 0 20px #ccc inset;
    }
    
    .swiper-slide {
        text-align:center;
        display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items:center; /* 위아래 기준 중앙정렬 */
        justify-content:center; /* 좌우 기준 중앙정렬 */
    }
    
    .swiper-slide img {
        box-shadow:0 0 5px #555;
        width: 100%;
        height: 100%;
    }
    
    #introduce_section img{
        width:100%;
    }
    
     /****************************************************************************
     * 갤러리용 -> 추후 CSS 분리할것
     ***************************************************************************/
    #galleryWrapper{
        text-align: center;
        min-height: 800px;
        
    }
    
    #gallery_top{
        
    }
    
    #gallery_items{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .item{
        flex:1;
    }
    
    .item img{
        box-shadow:0 0 5px #555;
        width: 200px;
        height:200px;
    }
    
    #video_entry{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    iframe{
        height:200px;
        width:200px;
    }
}

/* 
Desktop device 
*/
@media all and (min-width:768px){   
    td > textarea {
		width:100%;
	}
    
    #introduce_section img{
        width:70%;
    }

	
	.spinnerMaster {
		display:none;
	}
    
    #topMenuBox_1{
        /*background-color:#000000;*/
        height:40px;
    }

    #topMenuBox_2{
        /*background-color:#000000;*/
        height:63px;
    }
    
    #topMenuBtnBox {
		float:right;
        /*margin-top:39px;*/
	}
    
    #mobileMenuBtnBox{
        display:none;
    }
    
    #logo{
        float:left;
        width:200px;
        height:70px;
        cursor:pointer;
    }
    
    #logo > img {
        height:50px;
        margin-top:10px;
        margin-left:0px;
    }
    
    .topMenuBtn{
        float:left;
        font-family:nseb;
        font-size:20px;
        color:#FFFFFF;
        min-width:150px;
        margin:0px;
        margin-left:3px;
        padding:25px 10px 13px 10px;
        cursor:pointer;
        text-align:center;
    }
    
    .topMenuBtn:hover{
        color:#FF0000;
        border-bottom:3px solid #FF0000;
    }
    
    .topMenuBtn.seleted{
        color:#FF0000;
        border-bottom:3px solid #FF0000;
    }
    
    #subMenuNavBox{
        clear:both;
		max-width:1000px;
		margin:0px auto;
		padding:10px;
		text-align:center;
		height:34px;
    }
    
    .subMenuNav{
        text-align:right;
        font-family: nsb;
        font-size:14px;
        display:none;
    }
    
    .subMenuNav > span {
        margin:0px 20px;
    }
    
    #subMenuNav_1{
        
    }
    
    #subMenuNav_2{
        
    }
    
    #video_entry{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    /****************************************************************************
     * 이미지 슬라이더
     ***************************************************************************/
    .swiper-container {
        width: 50%;
        height:360px;
        /*border:5px solid silver;*/
        border-radius:7px;
        box-shadow:0 0 20px #ccc inset;
    }
    .swiper-slide {
        text-align:center;
        display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items:center; /* 위아래 기준 중앙정렬 */
        justify-content:center; /* 좌우 기준 중앙정렬 */
    }
    .swiper-slide img {
        box-shadow:0 0 5px #555;
        width: 100%;
        height: 100%;
    }
    
    /****************************************************************************
     * 갤러리용 -> 추후 CSS 분리할것
     ***************************************************************************/
    #galleryWrapper{
        text-align: center;
        min-height: 800px;
        
    }
    
    #gallery_top{
        
    }
    
    #gallery_items{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .item{
        flex:1;
    }
    
    .item img{
        box-shadow:0 0 5px #555;
        width: 300px;
        height: 300px;
    }

}